<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wilih=device-wilih, initial-scale=1.0">
    <title>关于我们</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js"></script>
</head>

<body id="main_body">
    <img src="../static/img/logo_top.png">

    <div id="row1">
        <a href="http://127.0.0.1:8000/main_page/" target="_self" id="head">首页</a>
        <a href="http://127.0.0.1:8000/about/" target="_self" id="head" style="background-color: rgb(24, 49, 59);">关于我们</a>
        <a href="http://127.0.0.1:8000/cooperation/" target="_self" id="head">交流合作</a>
        <a href="http://127.0.0.1:8000/join/" target="_self" id="head">加入我们</a>
        <a href="http://127.0.0.1:8000/help/" target="_self" id="head">服务</a>
    </div>

    <div id="main_picture">
        <img src="../static/img/main_picture.jpg">
    </div>

    <div id="about_main">
        <!-- 小学校概况 -->
        <div id="left">
            <div id="notice">
                <h2>学校概况: </h2>
                <ul>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                </ul>
                <h3>最新通知：</h3>
                <ul>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                </ul>
            </div>
        </div>

        <div id="right">
            <div id="overview">
                <h3>学 校 概 况</h3>
                <h2>学 校 概 况</h2>
                <br>
                <p>
                    砥砺跋涉，岁月流金。怀化学院坐落于“五省通衢”之城——湖南省怀化市，染雪峰山之灵秀，汲㵲水河之神韵，是祖国“西南明珠”里的一所应用型地方本科院校。学校创办于1958年，始名为黔阳师范专科学校，1982年原湖南农学院黔阳分院并入学校，1983年易名怀化师范专科学校，1998年开办本科教育，2000年黔阳师范整体并入学校，2002年经教育部批准升格为全日制普通本科院校并更名为怀化学院，2004年获得学士学位授予权，2012年通过教育部本科教学工作合格评估，2019年通过教育部本科教学工作审核评估，2021年获批硕士学位授予立项建设单位，2022年入选教育部师范教育协同提质计划。近年来，学校获评为湖南省文明窗口单位、湖南省文明高校、湖南省高校党建示范校、湖南省文明校园、全国精神文明建设工作先进单位、全国公共机构节能示范单位等多项荣誉称号。
                </p>
                <p>
                    学校现有两个校区，占地1158亩，建筑面积54万平方米；教学科研仪器设备总值2亿余元；教职工1277人，具有正高级职称人员126人，博士学位253人。设有职能部门及教辅机构23个，17个学院（中心、部），有在校学生的本科专业48个。有园林、社会工作、思想政治教育、汉语言文学、英语、数学与应用数学、信息与计算科学、生物科学、材料化学、化学、物理学、小学教育、公共事业管理、物流管理、旅游管理、音乐学、学前教育、商务英语、体育教育、美术学、机械设计制造及其自动化、光电信息科学与工程、软件工程、网络空间安全、食品质量与安全、风景园林、生物工程、生物制药、跨境电子商务、国际经济与贸易、法学、财务管理、电气工程及其自动化、通信工程、电子信息科学与技术、计算机科学与技术、制药工程、网络与新媒体、环境设计、产品设计、数字媒体艺术、舞蹈学、视觉传达设计、人工智能、机器人工程、数据科学与大数据技术、历史学等47个专业面向全国27个省（市、自治区）招生，有全日制在校生20986人。
                </p>
                <p>
                    学校与美国、英国、澳大利亚、新西兰、德国、匈牙利、乌克兰、泰国、马来西亚、日本、韩国等18个国家和地区的35所高校签署了合作协议。在合作办学与学分互认、科学研究、教师培养交流、学生交流等方面已开展实质性合作。先后招收美国、西班牙、俄罗斯、孟加拉、尼泊尔、巴基斯坦、蒙古、老挝、越南、乌兹别克斯坦、哈萨克斯坦、泰国、印度尼西亚等13个国家留学生语言生、学历生100多人。
                </p>
                <p>
                    学校拥有国家级特色专业1个、国家级综合改革试点专业1个、国家级一流本科专业建设点5个、省级重点专业1个、省级特色专业7个、省级综合改革试点专业4个、省级一流本科专业建设点28个、省级教学团队3个、省级科技创新团队1个、国家级一流课程2门、省级一流课程56门。
                </p>
                <p>
                    学校已建成16个实践（实验）教学中心，其中省级实践教学示范中心3个、省级基础课示范实验室1个、省级虚拟仿真实验室1个，省级大学生创新创业教育中心17个，省级大学生创新创业孵化示范基地（空间）4个；建有246个校外实践教学基地和人才培养基地，其中国家级大学生校外实践教育基地1个、省级校企合作人才培养（创新创业教育）基地14个、省级优秀实习教学基地8个。学校拥有民族药用植物资源研究与利用湖南省重点实验室、国家民委怀化学院中华民族共同体研究基地、湖南省民间非物质文化研究基地等22个省（部）级科研平台，民族医药研究与开发、中药制剂与质量控制等2个湖南省高校产学研合作示范基地。学校现有省级应用特色学科4个。
                </p>
                <p>
                    近五年来，教师发表的论文3577篇，其中高质量论文648篇，获授权专利1232个，其中发明专利179个，出版学术专著190部；获省部级以上科研项目477项，其中国家自科基金、国家社科基金立项19项；获省部级以上奖励11项，其中获省级自然科学奖一等奖、省级哲学社会科学成果奖一等奖各1项。教师发表教改论文512篇，主持省级以上教改课题181项，研究成果获省级教学一等奖1项，二、三等奖9项。
                </p>
                <p>
                    学校已为国家培养各类毕业生16余万人，其中一大批成为各级党政机关领导干部或国内外知名学府和科研单位的教学、科研骨干。中国科学院院士席南华（78级）、长江学者专家贾宗超（78级）、著名作家王跃文（81级）、青年歌唱家陈思思（90级）、“全国十大杰出青年法学家”蒋悟真（92级）等优秀人才是其中的代表。
                </p>
                <p>
                    追求卓越，逐梦前行。站在第二个百年奋斗目标的新征程上，学校秉承“怀仁化物、立地仰天”的校训，坚持“建应用型学科、办应用型专业、做应用型研究、育应用型人才、建应用型大学”的办学方针，确立“开放发展，快速跨越”的发展目标，立足怀化、服务湖南、面向西南、辐射全国，以实施校企合作为突破，开放办学；以问题为导向，促进应用科学研究；以培养应用型人才为目标，服务地方；以引领地方经济社会发展为重点，做出贡献赢得地位，朝着建设区域性高水平应用型大学的奋斗目标稳步迈进。
                </p>
            </div>
        </div>
    </div>

    <!-- 结尾声明 -->
    <div class="footer">
        <br>
        <img class="img" src="../static/img/logo_botttom.png" style="display: block; margin: auto;">
        <p class="font_state">
            Copyright © 2011 Huaihua University All Rights Reserved 怀化学院版权所有 湘ICP备13011546号-1 湘教QS3-200505-000098
            湘公网安备43120202000202号
        </p>
        <p class="font_state">
            地址：中国·湖南·怀化 怀化市鹤城区怀东路180号（西校区） 怀化市鹤城区金海路138号（东校区） 怀化市中方县城北鸭嘴岩镇（中方校区） 邮编：418000
        </p>
    </div>
</body>

</html>