<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wilih=device-wilih, initial-scale=1.0">
    <title>交流合作</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/cooperation.css">
    <script src="../static/js/main.js"></script>
</head>

<body id="main_body">
    <img src="../static/img/logo_top.png">

    <!-- 首行功能样式 -->
    <div id="cooper_title">
        <li><a href="http://127.0.0.1:8000/main_page/" target="_self" >首页</a></li>
        <li><a href="http://127.0.0.1:8000/about/" target="_self" >关于我们</a></li>
        <li style="background-color: rgb(137, 151, 156);"><a href="http://127.0.0.1:8000/cooperation/"  target="_self">交流合作</a></li>
        <li><a href="http://127.0.0.1:8000/join/" target="_self" >加入我们</a></li>
        <li><a href="http://127.0.0.1:8000/help/" target="_self" >服务</a></li>
    </div>

    <!-- 图片轮播 -->
    <div id="cooper_main_picture">
        <img src="../static/img/main_picture.jpg" alt="">
    </div>

    <!-- 主要图片内容 -->
    <div id="cooper_picture">
        <ul>
            <li><img src="../static/img/main_picture.jpg" alt=""></li>
            <h3><a href="#">标题</h3>
            <p><a href="#">内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介</a></p>
        </ul>
        <ul>
            <li><img src="../static/img/main_picture.jpg" alt=""></li>
            <h3><a href="#">标题</h3>
            <p><a href="#">内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介</a></p>
        </ul>
        <ul>
            <li><img src="../static/img/main_picture.jpg" alt=""></li>
            <h3><a href="#">标题</h3>
            <p><a href="#">内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介</a></p>
        </ul>
        <ul>
            <li><img src="../static/img/main_picture.jpg" alt=""></li>
            <h3><a href="#">标题</h3>
            <p><a href="#">内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介</a></p>
        </ul>
    </div>

    <!-- 主要文字链接 -->
    <div id="cooper_link">
        <div id="cooper_link_left">
            <h2>通知公告</h2>
            <ul>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
        </div>
        <div id="cooper_link_right">
            <h2>合作须知</h2>
            <ul>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
        </div>
    </div>

     <!-- 结尾声明 -->
     <div class="footer">
        <br>
        <img class="img" src="../static/img/logo_botttom.png" style="display: block; margin: auto;">
        <p class="font_state">
            Copyright © 2011 Huaihua University All Rights Reserved 怀化学院版权所有 湘ICP备13011546号-1 湘教QS3-200505-000098 湘公网安备43120202000202号
        </p>
        <p class="font_state">
            地址：中国·湖南·怀化 怀化市鹤城区怀东路180号（西校区） 怀化市鹤城区金海路138号（东校区） 怀化市中方县城北鸭嘴岩镇（中方校区） 邮编：418000
        </p>
    </div>
</body>

</html>