<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wilih=device-wilih, initial-scale=1.0">
    <title>服务</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/help.css">
    <script src="../static/js/main.js"></script>
</head>

<body id="main_body">
    <img src="../static/img/logo_top.png">

    <!-- 首行功能样式 -->
    <div id="row1">
        <a href="http://127.0.0.1:8000/main_page/" target="_self" id="head">首页</a>
        <a href="http://127.0.0.1:8000/about/" target="_self" id="head">关于我们</a>
        <a href="http://127.0.0.1:8000/cooperation/" target="_self" id="head">交流合作</a>
        <a href="http://127.0.0.1:8000/join/" target="_self" id="head">加入我们</a>
        <a href="http://127.0.0.1:8000/help/" target="_self" id="head" style="background-color: rgb(24, 49, 59);">服务</a>
    </div>

    <!-- 主要图片 -->
    <div id="main_picture">
        <img src="../static/img/main_picture.jpg">
    </div>

    <!-- 主要内容框 -->
    <div id="main">
        <!-- 服务内容框 -->
        <div id="save_list">
            <!-- 服务字体框 -->
            <div id="save_frame">
                <h1>服务</h1>
            </div>
            <ul>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
        </div>

        <!-- 公告框 -->
        <div id="message_frame">
            <h1>公告栏</h1>
            <ul>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
        </div>
    </div>
    <!-- 结尾声明 -->
    <div class="footer">
        <br>
        <img class="img" src="../static/img/logo_botttom.png" style="display: block; margin: auto;">
        <p class="font_state">
            Copyright © 2011 Huaihua University All Rights Reserved 怀化学院版权所有 湘ICP备13011546号-1 湘教QS3-200505-000098
            湘公网安备43120202000202号
        </p>
        <p class="font_state">
            地址：中国·湖南·怀化 怀化市鹤城区怀东路180号（西校区） 怀化市鹤城区金海路138号（东校区） 怀化市中方县城北鸭嘴岩镇（中方校区） 邮编：418000
        </p>
    </div>
</body>

</html>