<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wilih=device-wilih, initial-scale=1.0">
    <title>加入我们</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/join.css">
    <script src="../static/js/main.js"></script>
</head>

<body id="main_body">
    <img src="../static/img/logo_top.png">

    <!-- 首行功能样式 -->
    <div id="row1">
        <a href="http://127.0.0.1:8000/main_page/" target="_self" id="head">首页</a>
        <a href="http://127.0.0.1:8000/about/" target="_self" id="head">关于我们</a>
        <a href="http://127.0.0.1:8000/cooperation/" target="_self" id="head">交流合作</a>
        <a href="http://127.0.0.1:8000/join/" target="_self" id="head" style="background-color: rgb(24, 49, 59);">加入我们</a>
        <a href="http://127.0.0.1:8000/help/" target="_self" id="head">服务</a>
    </div>

    <!-- 宣传视频 -->
    <div id="video_main">
        <video src="../static/video/hhtc.mp4" autoplay muted controls loop></video>
    </div>

    <!-- 主要内容 -->
    <div id="main_message">
        <div id="main_message_left">
            <div id="small_img">
                <img src="../static/img/main_picture.jpg" alt="">
                <ul>
                    <h3>标题</h3>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                    <li><a href="#">链接链接</a></li>
                </ul>
            </div>
        </div>
        <div id="main_message_right">
            <ul>
                <h3>标题</h3>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
            <ul>
                <h3>标题</h3>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
            <ul>
                <h3>标题</h3>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
            <ul>
                <h3>标题</h3>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
            <ul>
                <h3>标题</h3>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
            <ul>
                <h3>标题</h3>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
                <li><a href="#">链接链接</a></li>
            </ul>
        </div>
    </div>
     <!-- 结尾声明 -->
     <div class="footer">
        <br>
        <img class="img" src="../static/img/logo_botttom.png" style="display: block; margin: auto;">
        <p class="font_state">
            Copyright © 2011 Huaihua University All Rights Reserved 怀化学院版权所有 湘ICP备13011546号-1 湘教QS3-200505-000098 湘公网安备43120202000202号
        </p>
        <p class="font_state">
            地址：中国·湖南·怀化 怀化市鹤城区怀东路180号（西校区） 怀化市鹤城区金海路138号（东校区） 怀化市中方县城北鸭嘴岩镇（中方校区） 邮编：418000
        </p>
    </div>
</body>

</html>