/* 首行功能栏 */
#cooper_title{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    font-size: 0;
    width: 100%;
    height: 50px;
}
#cooper_title li {
    text-align: center;
    font-size: 17px;
    width: 10%;
    height: 100%;
    display: inline-block;
    border-right:1px solid rgba(192, 196, 189, 0.991);
    border-left: 1px solid rgba(192, 196, 189, 0.991);
}
#cooper_title li a {
    color: black;
    display: inline-block;
    padding-top: 13px;
    width: 100%;
    height: 100%;
}
#cooper_title li:hover {
    background-color: rgb(137, 151, 156);
}

/* 图片轮播 */
#cooper_main_picture {
    width: 100%;
    height: 450px;
    background-color: white;
}
#cooper_main_picture img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/* 主要图片内容 */
#cooper_picture {
    width: 80%;
    height: 350px;
    margin: 20px auto;
    text-align: center;
    font-size: none;
}
#cooper_picture a:hover {
    text-decoration: underline;
}
#cooper_picture ul {
    display: inline-block;
    width: 20%;
    height: 300px;
    background-color: rgb(69, 141, 172);
    margin: 20px 20px 15px 15px;
    padding: 5px;
}
#cooper_picture ul li {
    width:100%;
    height:65%;
}
#cooper_picture ul li img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
#cooper_picture ul h3 {
    margin-top: 10px;
}
#cooper_picture ul p {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    text-indent: 2em;
}


/* 主要文字链接 */
#cooper_link {
    width: 75%;
    height: 350px;
    margin: 20px auto;
}
#cooper_link a {
    border-bottom: 1px solid black;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 5px;
    height: 15%;
    display: block;
}
h2 {
    margin: 12px 15px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
#cooper_link_left {
    /* 左框 */
    display: inline-block;
    background-color: rgb(69, 141, 172);
    width: 30%;
    height: 100%;
}
#cooper_link_left ul {
    width: 80%;
    height: 80%;
    margin:auto;
}
#cooper_link_right {
    /* 右框 */
    display: inline-block;
    background-color: rgb(69, 141, 172);
    width: 67%;
    height: 100%;
    margin-left: 20px;
}
#cooper_link_right ul {
    width: 90%;
    height: 80%;
    margin:auto;

}